@import '../../scss/variables.scss';

.pagination {
  margin-top: 40px;

  ul {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;

    li {
      list-style-type: none;
      display: flex;
      align-items: center;
      height: 40px;
      width: 80px;
      padding: 0 15px;
      cursor: pointer;
      // line-height: 0.7;

      &:first-child {
        justify-content: flex-end;
      }

      &.page {
          background-color: $soft-gray;
          width: 40px;
          justify-content: center;
      }

      &:last-child {
        justify-content: flex-start;
      }

      &.disabled {
        color: lightgray;
        cursor: not-allowed;
      }
    }
  }
}