@import '../../scss/variables.scss';
@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/mixins';

$title-margin: 30px;

.page-container {
  margin-bottom: $page-container-mb;
  padding-top: $header-height;

  @include media-breakpoint-up(lg) {
    padding-top: 0;
    min-height: calc(100vh - #{$header-height} - #{$footer-height} - #{$page-container-mb} - #{$title-margin});
  }

  > .title {
    margin: #{$title-margin} 0;

    &.detail {
      height: 60px;
      margin: 0;
      visibility: hidden;
      overflow: hidden;

      @include media-breakpoint-down(lg) {
        &.hidden {
          height: 0;
          margin: 0;
        }
      }
    }

    &.list {
      &.hidden {
        visibility: hidden;
        
        @include media-breakpoint-down(lg) {
          height: 0;
          margin: 0;
          visibility: hidden;
          overflow: hidden;
        }
      }
    }
    
    * {
      font-weight: normal;
    }
  }
}