@import '../../scss/variables.scss';
@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/mixins';

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: calc(100vh - #{$header-height} - #{$footer-height} - 120px);
  
  @include media-breakpoint-up(sm) {
    justify-content: space-between;
    min-height: 574px;
  }
}
