@import '../../scss/variables.scss';
@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/mixins';

footer {
  background-color: $soft-gray;
  height: $footer-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  h4 {
    color: white;
    font-weight: normal;
    margin: 0;
  }
}