.filters {
  position: absolute;
  width: 100%;
  height: 500px;
  background-color: $soft-gray;
  padding: 10px 20px;

  input {
    border: 1px solid $blue;
    padding: 10px;
    width: 100%;
  }
}