@import '../../scss/variables.scss';
@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/mixins';

$genre-hover-color: rgba($blue, 0.3);
$filters-min-height: 574px;

.filters-wrapper {
  position: fixed;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: white;
  width: 100%;
  height: 0;

  @include media-breakpoint-up(lg) {
    visibility: visible;
    height: 100%;
    width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: flex-start;
    position: relative;
  }

  @media (max-height: $filters-min-height) {
    display: block;
    overflow: scroll;
  }

  &.show {
    visibility: visible;
    height: 100vh;
  }

  .filters {
    width: 100%;
    border: none;
    padding: 75px 20px 15px;
    margin: 0 auto;

    @include media-breakpoint-up(sm) {
      width: 70%;
      padding: 15px 20px;
    }

    @include media-breakpoint-up(md) {
      width: 60%;
    }

    @include media-breakpoint-up(lg) {
      border: 1px solid $border-color;
      margin-top: 0;
      width: 30%;
      position: absolute;
    }

    @media (max-height: $filters-min-height) {
      padding: 150px 20px;
    }
  
    form > * {
      margin-bottom: 15px;
    }
  
    .separator {
      margin: 7px 40px 10px;
      border-top: 1px solid lightgray;
  
      p {
        background-color: white;
        width: 50px;
        display: block;
        margin: -10px auto 0 auto;
        color: lightgray;
        text-align: center;
      }
  
      &.discover p {
        width: 125px;
      }
    }
  
    input[type="text"] {
      border: 1px solid $border-color;
      padding: 10px;
      width: 100%;
    }
  
    .years-slider {
      margin-top: 15px;
      margin-bottom: 10px;
      
      label {
        margin-bottom: 20px;
        display: block;
        text-align: center;
  
        .min-year,
        .max-year {
          border: 1px solid $border-color;
          padding: 5px 0;
          width: 50px;
          display: inline-block;
          text-align: center;
        }
      }
    }
  
    .genre-wrapper {
      .genre-cloud {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: -3px;
    
        .genre {
          padding: 5px 10px;
          border: 1px solid $border-color;
          font-size: 13px;
          margin: 3px;
          
          &:hover {
            background-color: $genre-hover-color;
            border: 1px solid $genre-hover-color;
            color: white;
          }
    
          &.selected {
            background-color: $dark-blue;
            border: 1px solid $dark-blue;
            color: white;
    
            // &:hover {
            //   background-color: $genre-hover-color;
            //   border: 1px solid $genre-hover-color;
            // }
          }
        }
      }
    }
  }
}

