$blue: rgb(91, 113, 124);
$dark-blue: rgb(55, 77, 91);
$soft-gray: rgb(222, 222, 222);

$header-height: 60px;
$footer-height: 60px;

$page-container-mt: 40px;
$page-container-mb: 120px;

@function getMovieItemWidth($height) {
  @return 500 / 750 * $height;
}

* {
  color: $dark-blue;
  font-family: 'Raleway', sans-serif;

  &:focus,
  &:active {
    outline: 0;
  }
}

h1 { font-size: 2em; }
h5 { font-size: 1em; }

button {
  &:focus,
  &:active {
    outline: 0;
  }
}

.no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - #{$header-height} - #{$footer-height} - #{$page-container-mt} - #{$page-container-mb});

  h2 {
    margin-top: $page-container-mb;
  }
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}