$blue: rgb(91, 113, 124);
$dark-blue: rgb(55, 77, 91);
$soft-gray: rgb(241, 241, 241);

* {
  color: $dark-blue;
  // font-family: 'Inconsolata', monospace;

  &:focus,
  &:active {
    outline: 0;
  }
}